{% extends 'base.html' %}
{% block content %}
<p><a href="{% url 'main:show_main' %}"><button>← Kembali ke Toko</button></a></p>

<h1>{{ produk.name }}</h1>

<p><b>{{ produk.get_category_display }}</b>
   {% if produk.views > 20 %} | <b>Hot</b>{% endif %}
   | Dilihat: {{ produk.views }}</p>

{% if Fit.thumbnail %}
<img src="{{ Fit.thumbnail }}" alt="Fit thumbnail" width="300">
<br /><br />
{% endif %}

<p>{{ Fit.content }}</p>

{% if news.user %}
    <p>Penjual: {{ news.user.username }}</p>
{% else %}
    <p>Penjual: Anonymous</p>
{% endif %}


{% endblock content %}